<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xjt.dao.master.CustomergroupDao" >

    <resultMap id="BaseResultMap" type="com.xjt.entity.CustomergroupKey" >
        <id column="Customer_ID" property="customerId" jdbcType="VARCHAR" />
        <id column="CustomerGroup" property="customergroup" jdbcType="VARCHAR" />
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="com.xjt.entity.CustomergroupKey" >
        delete from customergroup
        where Customer_ID = #{customerId,jdbcType=VARCHAR}
          and CustomerGroup = #{customergroup,jdbcType=VARCHAR}
    </delete>

    <insert id="insert" parameterType="com.xjt.entity.CustomergroupKey" >
        insert into customergroup (Customer_ID, CustomerGroup)
        values (#{customerId,jdbcType=VARCHAR}, #{customergroup,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.xjt.entity.CustomergroupKey" >
        insert into customergroup
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="customerId != null" >
                Customer_ID,
            </if>
            <if test="customergroup != null" >
                CustomerGroup,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="customerId != null" >
                #{customerId,jdbcType=VARCHAR},
            </if>
            <if test="customergroup != null" >
                #{customergroup,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="deleteCustomer">
        update customergroup
        set delete_flag = #{deleteFlag}
        where Customer_ID = #{customerId} and delete_flag != #{deleteFlag}
    </update>
</mapper>