<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xjt.dao.master.SupplyaccountsDao" >

    <resultMap id="BaseResultMap" type="com.xjt.entity.Supplyaccounts" >
        <id column="ID" property="id" jdbcType="VARCHAR" />
        <result column="Supply_No" property="supplyNo" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        ID, Supply_No
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from supplyaccounts
        where ID = #{id,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from supplyaccounts
        where ID = #{id,jdbcType=VARCHAR}
    </delete>

    <insert id="insert" parameterType="com.xjt.entity.Supplyaccounts" >
        insert into supplyaccounts (ID, Supply_No)
        values (#{id,jdbcType=VARCHAR}, #{supplyNo,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.xjt.entity.Supplyaccounts" >
        insert into supplyaccounts
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                ID,
            </if>
            <if test="supplyNo != null" >
                Supply_No,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="supplyNo != null" >
                #{supplyNo,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.xjt.entity.Supplyaccounts" >
        update supplyaccounts
        <set >
            <if test="supplyNo != null" >
                Supply_No = #{supplyNo,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.xjt.entity.Supplyaccounts" >
        update supplyaccounts
        set Supply_No = #{supplyNo,jdbcType=VARCHAR}
        where ID = #{id,jdbcType=VARCHAR}
    </update>
</mapper>